html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
}

header {
    margin: 0;
    padding: 1rem;
    width: 100%;
    background: linear-gradient(to right, #009688, #00897B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
}

h1 {
    font-size: 2rem;
}